body {

    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    background-color: rgb(66, 179, 244);
    color:antiquewhite;
    max-width: 900px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    margin-bottom: 0;
}

a {
    color: white;
}

.job {
    padding-left: 20;
}

.contact-info {
    text-align: right;
    margin: 5px;
    float: right;
}

.title {
    width: 70%;
    float:left;
    text-align: left;
}

.main {
    margin: 40px;
}

.description {
    margin-top: 0;
}

.top-section {
    margin: 5px;
    padding: 20px;
}

#subtitle {
    margin-top: 0px;
}

#tagline {
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}