body {

    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    background-color: rgb(0, 165, 159);
    color:antiquewhite;
    max-width: 900px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 46px;
    text-shadow: 0px 2px 10px rgba(0,0,0,.3);
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 2px 6px rgba(0,0,0,.4);
    margin-bottom: 6px;
    margin-top: 24px;
}

ul {
    margin-top: 2px;
}

h3 {
    margin-top: 14px;
    margin-bottom: 0;
}

a {
    color: white;
}

.job {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    padding-left: 20px;
    background-color:  rgb(10, 175, 169);
    border-radius: 12px;
}

.job-title {
    margin-top: 4px;
}

.contact-info {
    text-align: right;
    margin: 5px;
    float: right;
}

.title {
    width: 70%;
    float:left;
    text-align: left;
}

.main {
    margin: 40px;
}

.description {
    margin-top: 0;
}

.top-section {
    border: 1.5px;
    border-radius: 36px;
    border-color: antiquewhite;
    border-style:dashed;
    margin: 16px;
    margin-top: 24px;
    padding: 30px;
}

table {
    width: 100%;
}

.edu-name {
    width: 250px;
}

.edu-period {
    width:150px;
}

#subtitle {
    margin-top: 0px;
}

#tagline {
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}